$primary-background-color: rgb(0, 0, 0);
$primary-text-color: rgb(172, 187, 41);
$secondary-text-color: rgb(211, 197, 197);

*{
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: $primary-text-color;

}

body{
    background-color: $primary-background-color;
    border-left: 5px solid $primary-text-color;
    overflow-x: hidden;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-space-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@mixin media-tablet{
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin media-mobile{
    @media screen and (max-width:480px){
        @content;
    }
}
@mixin media-laptop{
    @media screen and (max-width:1280px){
        @content;
    }
}



